@model IEnumerable<MapMVCWebApp.Models.Location>

@{
    ViewData["Title"] = "Saved Locations";
}

<h1>Saved Locations</h1>

@(Html.Kendo().Grid<MapMVCWebApp.Models.Location>()
          .Name("grid")
          .DataSource(dataSource => dataSource
            .Ajax()
            .Model(model =>
             {
                    model.Id(location => location.Id);
                    model.Field(location => location.Id).Editable(false);
                    model.Field(location => location.Title).DefaultValue("New Location");
             })
            .PageSize(20)
            .ServerOperation(false)
            .Create(create => create.Action("CreateFromList", "Locations").Data("sendAntiForgeryToken").Type(HttpVerbs.Post))
            .Read(read => read.Action("ReadFromList", "Locations").Type(HttpVerbs.Get))
            .Update(update => update.Action("UpdateFromList", "Locations").Data("sendAntiForgeryToken").Type(HttpVerbs.Post))
            .Destroy(destroy => destroy.Action("DestroyFromList", "Locations").Data("sendAntiForgeryToken").Type(HttpVerbs.Post))
          )
          .Columns(columns =>
          {
              columns.Bound(location => location.Title).Width(150);
              columns.Bound(location => location.Latitude).Width(200);
              columns.Bound(location => location.Longitude).Width(200);
              columns.Command(command => { command.Edit(); command.Destroy(); }).Title("Commands").Width(120);
          })
          .ToolBar(toolbar => toolbar.Create())
          .Editable(editable => editable.Mode(GridEditMode.InLine))
          .Pageable()
          .Sortable()
)

@section Scripts
{
    <script>
        function sendAntiForgeryToken() {
            return { "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() }
        }
    </script>
}