@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4>Drag the pin on the map to save into the database.</h4>
</div>
<body>
    <div class="flex-container">
        <div id="map" style="position:relative;height:500px;" class="flex-child map"></div>

        @model MapMVCWebApp.Models.Location
        <div id="location-form" class="flex-child form">
            <kendo-form name="locationForm" form-data="@Model" method="POST" asp-controller="Locations" asp-action="Create"
            on-submit="onFormSubmit">
                <validatable validate-on-blur="true" />
                <form-items>
                    <form-item type="group">
                        <item-label text="Enter the details below:" />
                        <form-items>
                            <form-item field="Title">
                                <item-label text="Title:" />
                            </form-item>
                            <form-item field="Latitude">
                                <item-label text="Latitude:" />
                            </form-item>
                            <form-item field="Longitude">
                                <item-label text="Longitude:" />
                            </form-item>
                        </form-items>
                    </form-item>
                </form-items>
            </kendo-form>
        </div>
    </div>
    <style>
        .flex-container {
            display: flex;
        }

        .flex-child {
           /* flex: 1;*/

        }

            .flex-child:first-child {
                flex: 1.5;
                margin-right: 15px;
            }
    </style>

    <div id="success-dialog">
        <kendo-dialog name="successDialog" title="Saved Successfully!" width="400" modal="true" visible="false">
        <actions>            
            <action text="See all" action="onSeeAll">
            </action>
            <action text="OK" primary="true" action="onOK">
            </action>
        </actions>
        <content>
            <p>New location was saved successfully.</p>
        </content>
    </kendo-dialog>
    </div>

</body>


@section Scripts
    {
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/build/ol.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/css/ol.css">
    <script src="/js/olMap.js"></script>

    <script type="text/javascript">
        function onFormSubmit(e) {
            e.preventDefault();

            $.ajax({
                type: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                    "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                },
                url: 'Locations/Create',
                data: {
                    Title: $("#Title").val(),
                    Latitude: $("#Latitude").val(),
                    Longitude: $("#Longitude").val()
                },
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: showDialog()
            });
        }
    </script>

    <script>

        function onSeeAll() {
            location.href = '/Locations';
        }

        function onOK() {
            location.reload();
        }

        function showDialog() {
            $('#successDialog').data("kendoDialog").open();
        }
    </script>
    }
