@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Drag the pin on the map to save into the database.</p>

</div>
<body>
    <center>
        <div id="map" style="position:relative;width:100%;height:500px;"></div>

        @model MapMVCWebApp.Models.LocationModel
        <div id="location-form" style="width:35%">
            <kendo-form name="locationForm" form-data="@Model" method="POST" asp-controller="LocationModels" asp-action="Create">
                <validatable validate-on-blur="true" />
                <form-items>
                    <form-item type="group">
                        <item-label text="New Location" />
                        <form-items>
                            <form-item field="Title">
                                <item-label text="Title:" />
                            </form-item>
                            <form-item field="Latitude">
                                <item-label text="Latitude:" />
                            </form-item>
                            <form-item field="Longitude">
                                <item-label text="Longitude:" />
                            </form-item>
                        </form-items>
                    </form-item>
                </form-items>
            </kendo-form>
        </div>
    </center>
</body>


@section Scripts
    {
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/build/ol.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/css/ol.css">
    <script src="/js/olMap.js"></script>
    }
