@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Drag the pin on the map to save into the database.</p>

</div>
<body>
    <center>
        <div id="myMap" style="position:relative;width:700px;height:500px;"></div>

        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="form-group col-md-5">
                        <label>Title</label>
                        <input type="text" name="Title" id="Title" class="form-control" placeholder="Enter location title" required="" />
                    </div>
                    <div class="form-group col-md-5">
                        <label>Latitude</label>
                        <input type="number" name="Latitude" id="Latitude" class="form-control" readonly />
                    </div>
                    <div class="form-group col-md-5">
                        <label>Longitude</label>
                        <input type="number" name="Longitude" id="Longitude" class="form-control" readonly />
                    </div>

                    <div class="form-group col-md-1">
                        <div style="margin-top:0.5cm">
                            <input class="btn btn-primary" name="submitButton" id="btnSave" value="Save" type="button">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>
</body>


@section Scripts
    {
    <script type='text/javascript'>
        function GetMap() {
            var map = new Microsoft.Maps.Map('#myMap', {
                credentials: 'Al38oqMXT8vMcLYoKgrlbjR2_EJ4hzSdg3KU8EW63K4ea_ANRopnOPVl_HdBZTci',
                center: new Microsoft.Maps.Location(39.9092, 32.7539),
                showSearchBar: true,
                zoom: 12
            });

            var center = map.getCenter();

            //Create custom Pushpin
            var pin = new Microsoft.Maps.Pushpin(center, { draggable: true });

            //Add the pushpin to the map
            map.entities.push(pin);

            var Events = Microsoft.Maps.Events;
            Events.addHandler(pin, 'dragend', function() {
                document.getElementById("Latitude").value = pin.geometry.y.toFixed(7);
                document.getElementById("Longitude").value = pin.geometry.x.toFixed(7);
            });
        }
    </script>
    <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>

    <script type="text/javascript">
        $(function() {
            $("#btnSave").click(function() {
                if (document.getElementById("Title").value === "") {
                    alert("Title cannot be empty!");
                    return;
                }
                if (document.getElementById("Latitude").value === "") {
                    alert("Please drag the pin to save the location.");
                    return;
                }
                $.ajax({
                    type: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                        "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                    },
                    url: 'LocationModels/Create',
                    data: {
                        Title: $("#Title").val(),
                        Latitude: $("#Latitude").val(),
                        Longitude: $("#Longitude").val()
                    },
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function(result) {
                        alert("Saved successfully.");
                        clearBoxes();
                    }
                });
                return false;
            });
        });
    </script>
    <script type="text/javascript">
        function clearBoxes() {
            document.getElementById("Title").value = "";
            document.getElementById("Latitude").value = "";
            document.getElementById("Longitude").value = "";
        }
    </script>
    }
